Source: rpi-firmware
Section: kernel
Priority: required
Maintainer: Cyr-ius <cyr-ius@ipocus.net>
Homepage: https://github.com/cyr-ius/rpi23-gen-image

Package: rpi-firmware
Architecture: armhf
Description: Metapackage for kernel Raspberry Pi
Depends: ${misc:Depends}
