Source: plymouth-theme-kbox-logo
Section: x11
Priority: optional
Maintainer: Cyr-ius <cyr-ius@ipocus.net>
Build-Depends: debhelper (>= 8.0.0)

Package: plymouth-theme-kbox-logo
Architecture: all
Depends: ${misc:Depends}, plymouth (>= 0.9.2), plymouth-themes (>= 0.9.2)
Replaces: kbox-splashscreen (>=1.0)
Description: KBox splashscreen
 Plymouth theme with KBox splashscreen
