Origin: KBox
Package: kbox-bootloader
Section: kernel
Essential: No
Priority: Required
Architecture: all
Maintainer: Cyr-ius <cyr-ius@ipocus.net>
Description: Raspberry Pi Bootloader components
Version: 4.9.20-v7+
Installed-Size: 7342
