Source: kbox-userland
Section: libs
Priority: required
Maintainer: Cyr-ius <cyr-ius@ipocus.net>
Build-Depends: debhelper (>= 8.0.0)
Homepage: https://github.com/cyr-ius/rpi23-gen-image

Package: kbox-userland
Architecture: all
Depends: ${misc:Depends}
Description: Raspberry Pi userland package
