[Unit]
Description=Show Ply-lite Reboot Screen
DefaultDependencies=no
Before=reboot.service
After=ply-lite-start.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/ply-image /usr/share/ply-lite/reboot.png

[Install]
WantedBy=sysinit.target