[Unit]
Description=Show Ply-lite Poweroff Screen
DefaultDependencies=no
Before=poweroff.service
After=ply-lite-start.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/ply-image /usr/share/ply-lite/poweroff.png

[Install]
WantedBy=sysinit.target