Origin: KBox
Package: kbox-userland-src
Section: libs
Essential: No
Priority: required
Architecture: all
Maintainer: Cyr-ius <cyr-ius@ipocus.net>
Description: Raspberry Pi userland package with headers
Version: 4.9.20-v7+
Depends: kbox-userland (=4.9.20-v7+)
Installed-Size: 32612
