Source: kbox-splashscreen
Section: x11
Priority: optional
Maintainer: Cyr-ius <cyr-ius@ipocus.net>
Build-Depends: debhelper (>= 8.0.0)
Homepage: https://github.com/asb/raspi-config
#Vcs-Git: git://git.debian.org/collab-maint/raspi-config.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/raspi-config.git;a=summary

Package: kbox-splashscreen
Architecture: all
Depends: ${misc:Depends}, plymouth (>= 0.9.2), plymouth-themes (>= 0.9.2)
Description: KBox splashscreen
 Plymouth theme with KBox splashscreen
