Source: perftune
Section: admin
Priority: required
Maintainer: Cyr-ius <cyr-ius@ipocus.net>
Build-Depends: debhelper (>= 8.0.0)
Homepage: https://github.com/cyr-ius/rpi23-gen-image

Package: perftune
Architecture: all
Depends: ${misc:Depends}
Description: Performance tuning tweaks for KBox
